html, body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  font-size: calc(18px + .3vw);
  color: #efefef;
}
a, em, h1, h4, img, li, p, strong, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

section {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}

header {
  height: 95%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -3;
  background-color: #000017;
}

header .background::after {
  content: '';
  opacity: 0;
  background: url(../images/MeIRL.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn50 1s ease;
  -webkit-animation: fadeIn50 1s ease;
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

header .hello-container {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
}

header .hello-wrapper {
  padding: 1rem;
}
header .text-container {
  text-align: center;
  border: .3rem solid;
  padding: 1rem 2.5rem;
}

header p {
 font-size: 1rem;
}

header h1 {
   font-size: 2.4em;
   margin: .5rem 0;
   font-weight: bold;
   white-space: nowrap;
}




/* /--------Location----------/ */

.location {
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   color: #333333;
   height: 100vh;
   max-height: 120vw;
}

.location .left {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location .left .text-container {
  text-align: center;
  font-size: 3rem;
}

.location .left .text-container h2 {
  font-weight: normal;
  font-size: 3.5rem;
}

.location .left .text-container p {
  font-family: 'Special Elite', cursive;
  padding: .5rem 0;
  color: #444;
  font-size: 3.5rem;
  line-height: inherit;
}

.location .left .city-flag {
  width: 3rem;
  opacity: .8;
}

.location .background {
  z-index: -3;
  background-color: #efefef;
}

.location .background .right {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.location .background .gateway {
  position: relative;
  max-height: 50%;
  /* opacity: 0.8; */
  width: 100%;
  transform: scale(1.2);
}




/* /--------Skills----------/ */

.skills {
  height: auto;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: #043258;
}

.skills .top {
  width: 85%;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills .top hr {
  width: 80%;
  height: .2em;
  background-color: #ea626b;
  border: none;
}

.skills .top .header-container {
  text-align: center;
}

.skills .background {
  background-color: #043258;
}

.skills .bottom {
  width: 80%;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skills .bottom .text-wrapper {
  padding: 2em 0;
}

.skills .bottom .text-wrapper .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .bottom .text-wrapper .text-container i {
  padding: 1.5rem;
  font-size: 2.3em;
  margin: 0 1.2rem;
  background-color: #37658B;
  border-radius: 50%;
}

.skills a {
  color: inherit;
  text-decoration: none;
}

.skills a:hover {
  /* color: #1E4C72; */
  background-color: #fbbe28;
  transition: .5s;
  cursor: pointer;
}




/* /--------Technology----------/ */


.technology {
  background-color: #efefef;
  color: #333333;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 6em;
  }

.technology .header-wrapper {
  height: 30%;
  width: 80%;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technology .header-wrapper hr {
  width: 80%;
  height: .2em;
  background-color: #ea626b;
  border: none;
}

.technology .header-wrapper .text-container {
 padding-top: 1.5em;
}

.technology .header-wrapper .text-container p{
 text-align: center;
}

.technology .text-wrapper {
  height: 15%;
  width: 85%;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technology .tech-wrapper {
  height: 100%;
  width: 80%;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technology .tech-wrapper .list-container {
  width: 100%;
  padding: 1em 0;
}

.technology .tech-wrapper .list-container .list-description {
  padding-bottom: 1rem;
  font-size: .8em;
  font-style: italic;
  text-align: center;
  line-height: inherit;
  opacity: .7;
}

.technology .tech-wrapper .list-container ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.technology .tech-wrapper .list-container li {
  flex: 1;
  text-align: center;
  padding: .8em;
}

.technology .tech-wrapper .list-container li  i {
  font-size: calc(1em + 10vw);
}

.technology .tech-wrapper .list-container li  img {
  width: calc(1em + 10vw);
  height: calc(1em + 10vw);
}

.technology .tech-wrapper .list-container li  p {
  color: #707070;
  padding-top: .3em;
}

.technology .tech-wrapper .list-container li hr {
  width: 20%;
  height: .2em;
  border: none;
  opacity: .3;
}




/* /--------Experience----------/ */


.experience {
  height: auto;
  background-color: #043258;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  }

.experience .header-wrapper {
  height: auto;
  width: auto;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.experience .header-wrapper .header-container {
    padding-bottom: 1em;
  }

.experience .header-wrapper .header-container hr {
  height: .2em;
  background-color: #ea626b;
  border: none;
  width: 80%;
}




/* /--------Contact----------/ */


.contact {
  height: auto;
  background-color: #efefef;
  color: #333333;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
}

.contact .header-container {
  height: 30%;
  width: 60%;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .header-container hr {
  width: 80%;
  height: .2em;
  background-color: #ea626b;
  border: none;
}

.contact .header-container .text-wrapper {
    padding: 1em 0;
    text-align: center;
}

.contact .list-container ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact .list-container li {
  flex: 1;
  text-align: center;
}

.contact .list-container li a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.contact .list-container li a:hover i {
  color: #1E4C72;
  transition: .5s;
}


.contact .list-container li i {
  font-size: calc(1.5em + 10vw);
}



/* /--------Common----------/ */

h2 {
  margin: 0;
  font-size: 3em;
}

h3 {
  margin: 0;
  font-size: 2.5em;
}

p {
  line-height: 1.5em;
  text-align: center;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -3;
}

.background img {
  position: absolute;
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

.green {
  color: #89d0ca;
}

.bg-green {
  background-color: #89d0ca;
}

.blue {
  color: #043258;
}

.bg-blue {
  background-color: #043258;
}

.blue-lt-10 {
  color: #1E4C72;
}

.bg-blue-lt-10 {
  background-color: #1E4C72;
}

.red {
  color: #ea626b;
}

.yellow {
  color: #eaea62
}

.bg-red {
  background-color: #ea626b;
}

.grey-darken-20 {
  color: #BCBCBC;
}

.bg-grey-darken-20 {
  background-color: #BCBCBC;
}

.opacity-8 {
  opacity: .8;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* /--------Animations----------/ */

.fadeIn70 {
  -webkit-animation-name: fadeIn70;
  animation-name: fadeIn70;
}

.widen80 {
  -webkit-animation-name: widen80;
  animation-name: widen80;
}

.widen20 {
  -webkit-animation-name: widen20;
  animation-name: widen20;
}

.pulse120 {
  -webkit-animation-name: pulse120;
  animation-name: pulse120;
}

@keyframes fadeIn50 {
  0% { opacity: 0; }
  100%   { opacity: .5; }
}


@keyframes fadeIn50 {
  0% { opacity: 0; }
  100%   { opacity: .5; }
}

@keyframes fadeIn70 {
  0% { opacity: 0; }
  100%   { opacity: .7; }
}

@keyframes widen80 {
  0% { width: 0; }
  100%   { width: 80%; }
}

@keyframes widen20 {
  0% { width: 0; }
  100%   { width: 20%; }
}

@keyframes pulse120 {
  from {
    -webkit-transform: scale3d(1.20, 1.20, 1.20);
    transform: scale3d(1.20, 1.20, 1.20);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    -webkit-transform: scale3d(1.20, 1.20, 1.20);
    transform: scale3d(1.20, 1.20, 1.20);
  }
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  html, body {
    font-size: calc(8px + .3vw);
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  html, body {
    font-size: calc(16px + .3vw);
  }
}


@media only screen
and (max-device-width : 1024px) {
  header .background::after {
    background-position-x: 87%;
  }

  .skills {
    font-size: 1.5rem;
  }

  .skills .top {
    padding-bottom: 0;
  }

  .skills .icon-wrapper {
    padding: 2rem 0;
  }

  .skills .bottom .text-wrapper {
    padding: 2em 0;
  }

  .skills .bottom {
    width: 95%;
  }

  .skills .bottom .text-wrapper .text-container i {
    margin: 1.2rem;
  }

  .skills .bottom .text-wrapper .text-container {
    flex-direction: column;
  }

  .technology {
    font-size: 1.5rem;
  }

  .technology .header-wrapper {
    width: 95%;
    padding-top: 3em;
  }

  .technology .tech-wrapper {
    width: 95%;
  }

  .technology .tech-wrapper .list-container {
    width: 95%;
  }

  .technology .tech-wrapper .list-container ul {
    flex-flow: row wrap;
  }

  .technology .tech-wrapper .list-container li  i {
    font-size: calc(4em + 10vw);
  }

  .technology .tech-wrapper .list-container li  img {
    width: calc(4em + 10vw);
    height: calc(4em + 10vw);
  }

  .experience {
    font-size: 1.5rem;
  }

  .experience h3 {
    font-size: 2.3em;
  }

  .experience .header-wrapper {
    width: 95%;
  }

  .contact {
    font-size: 1.5rem;
  }

  .contact .header-container {
    width: 90%;
  }
}
